@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*
  ======VARIABLES======
*/
:root {
  /*
    Las variables son peque;os contenedores de informacion que puedes utilizar
    para reutilizar un estilo declarandolo una sola vez y utilizar ese estilo por toda
    la pagina
  */
  --text-color-main: white;
  --size-titles: 64px;
  --size-subtitles: 24px;
  --size-highlights-paragraphs: 19px;
  --size-paragraphs: 14px;
  --gap-standard: 12px;
  --padding-standard: 32px;
  --color-button: #40444f60;
}

/*
  ======GENERALES======
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color-main);
}

body {
  background-color: black;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

/*
  ======REUTILIZABLES======
*/
.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-main-center {
  justify-content: center;
}

.flex-main-space-between {
  justify-content: space-between;
}

.flex-secondary-center {
  align-items: center;
}

.gap-standard {
  gap: var(--gap-standard);
}

.padding-standard {
  padding: var(--padding-standard);
}

.transparent {
  background-color: transparent;
}

/*
  ======ESPECIFICOS======
*/

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://starlink.com/assets-new/images/landing/field/v4_night_sky.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0 32px;
}

nav {
  padding: 32px 0 0 0;
}

.circular-button {
  border-radius: 100%;
  padding: 10px;
  background-color: var(--color-button);
}

.button-inactive {
  padding: 2px 8px;
}

.button-active {
  padding: 2px 6px;
  background-color: rgba(199, 199, 199, 0.753);
  border-radius: 8px;
}

.buttons-menu {
  background-color: rgba(128, 128, 128, 0.737);
  padding: 2px;
  border-radius: 8px;
  margin-right: 15px;
}

.buttons-menu > button {
  padding: 8px 16px;
  font-weight: 600;
}

.link-menu {
  font-size: var(--size-paragraphs);
  font-weight: 600;
}

.col-content {
  display: flex;
}

.button-hightlight {
  background-color: white;
  color: black;
}

.button-nohightlight {
  background-color: rgb(67, 67, 67);
  color: white;
}

#logo {
  letter-spacing: 4px;
  font-size: 16px;
  margin-right: 16px;
}

#header-content {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

#column-content {
  gap: 16px;
  padding: 0 0 120px 120px;
}

#column-content > h1 {
  font-size: var(--size-titles);
  font-weight: 800;
}

#column-content > p {
  font-size: var(--size-paragraphs);
  color: rgb(145, 145, 145);
  font-weight: 600;
}

#column-content > h2 {
  font-size: var(--size-titles);
  font-weight: 600;
}

#column-content > h2 > span {
  font-size: var(--size-highlights-paragraphs);
  color: rgb(145, 145, 145);
}

#column-content > div {
  display: flex;
  gap: 16px;
}

#column-content > div > button {
  padding: 8px 32px;
  font-size: var(--size-paragraphs);
  font-weight: 600;
  border-radius: 6px;
}

/*-------- SECCION 2-------------------*/

.selector1 {
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 40px;
}

.contenedorcolumnas2 {
  display: flex;
  flex-direction: row; /* Alinea las columnas en fila */
  gap: 20px; /* Separación de 20px entre columnas */
  margin-top: 40px;
}

/* Estilo para cada columna (Tarjeta de noticia) */
.columna_info_sec1 {
  display: flex;
  flex-direction: column;
  background: #121212;
  /*justify-content: center;   */
  gap: 40px; /* Separación de 15px entre los elementoss */
  width: 400px; /* Ancho fijo para cada columna */
  padding: 20px;
  border: 0px solid; /* border del elemento */
  border-radius: 8px;
  text-align: left; /* Centra el texto de los párrafos y títulos */
  /* background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://starlink.com/assets-new/images/landing/field/v4_night_sky.webp");*/
}

.tab_container-button-section2 > button {
  padding: 8px 32px;
  font-size: var(--size-paragraphs);
  font-weight: 600;
  border-radius: 6px;
}

/*---------SECCION 2---------------------------------*/

.selector2 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(" https://starlink.com/assets-new/images/landing/field/v4_lightning.webp");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

/*--------SECCION 3-------------*/

.selector3 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(" https://starlink.com/assets-new/images/landing/field/v4_car_on_ice.webp");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

/*--------SECCION 4 Imagenes SLICE o CARRUSEL --------------*/

.selector4 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(" https://starlink.com/assets-new/images/landing/illustrations/illustration_07.webp");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
}

/*
  .contenedor-principal {
      display: grid;
      padding: 20px;
      overflow: auto;
  }
  .cuadro-columna {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
   
    
  }
    */
.grid-galeria {
  display: grid;
  /* 5 columnas fijas de 550px cada una */
  grid-template-columns: repeat(5, 550px);
  /* Separación entre los cuadros */
  gap: 20px;
  overflow: auto;
}

/* CORRECCIÓN: Cambiado de guion bajo (_) a guion medio (-) para coincidir con el HTML */
.cuadro-columna {
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;

  /* MEDIDAS SOLICITADAS: Ancho 550px y Alto 450px */
  width: 550px;
  height: 450px;

  overflow: auto;
  border-radius: 8px; /* Opcional: bordes estéticos */
}
.contenedor-slider::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

/*--------SECCION 5 varios cuadros en ununa section --------------*/
.selector5 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("  https://starlink.com/assets-new/images/landing/field/v4_green_roof.webp");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

/*--------SECCION 6 conectalo orientalo al cielo--------------*/
.selector6 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://starlink.com/assets-new/images/landing/field/v4_residential_yard.webp");
  background-size: cover;
  background-position: center;
  height: 80vh;
}
